@font-face{
	font-family: 'Ubuntu Light';
	src: url("../fonts/Ubuntu-L.ttf");
}

@font-face{
	font-family: 'Ubuntu';
	src: url("../fonts/Ubuntu-R.ttf");
}

*{
	font-family: "Ubuntu" !important;
	font-weight: lighter !important;
}

.home{
	background-image: url( ../img/fondo.jpg );
	background-position: center center;
	background-size: cover;
}

.login{
	padding-top: 15%;
	background-image: url( ../img/fondo-borroso.jpg );
}

h2{
	margin: 10px 0px;
}

.fondo-normal{
	background-image: -moz-linear-gradient(top, #fff 0%, #4183d7 100%);
	background-image: -o-linear-gradient(top, #fff 0%, #4183d7 100%);
	background-image: -webkit-linear-gradient(top, #fff 0%, #4183d7 100%);
	background-image: linear-gradient(top, #fff 0%, #4183d7 100%);
}

.al80{
	width: 80%;
	padding-left: 10%;
}

.logocentral{
	margin: 15%;
	width: 70%;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-70%, -50%);
}

.logoinferior{
	width: 50%;
	left: 50%;
}

.text-center{
	text-align: center !important;
}

.img-responsive{
	width: 50%;
}

.cont-centrado{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.div-footer{
	height: 80px;
	line-height: 2px;
	font-size: .9em
}

.bg-trans{
	background-color: transparent;
	border-style: none;
}

.bg-white{
	border-style: none;
	background-color: white;
}

.nd2-card{
	background-color: white;
}

.ui-input-text::after, .ui-input-search::after {
	width: 80%;
}

.pull-right{
	text-align: right;
}

.link-normal{
	text-decoration: none !important;
	color: black !important;
}

.bajo-carta{
	padding: 0px !important;
	font-size: 20px !important;
}

.table-responsive {
	white-space: nowrap !important;
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table{
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: white;
	border-collapse: collapse;
}  

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #fff;
	background-color: #343a40;
	border-color: #454d55;
}

.table tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05);
}

.table-bordered{
    border: 1px solid #dee2e6;
}

.table-bordered td,.table-bordered th {
	border:1px solid #dee2e6
}

.table-bordered thead td,.table-bordered thead th {
	border-bottom-width:2px
}

.boton-serial:focus, .boton-serial:active {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}